@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}


nav {
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: 900;
  color: darkmagenta;
  padding: 0 10px;
}

main {
  padding: 15px;
  padding-top: 30px;
}

ul {
  padding: 0;
}

.article-card {
  list-style: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

input {
  background-color: #eee;
  border: none;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid #ddd;
  outline: none;
}

button {
  background-color: rgb(109, 172, 184);
  color: #eee;
  font-weight: 700;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

button:focus {
  border: none;
  outline: none;
  background-color: rgb(93, 142, 151);
}

select {
  border: none;
  background-color: #eee;
  padding: 5px;
  border-radius: 15px;
}
